/*Contact sectiom*/
.content-header{
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 45px;
    
  }
  .container-fluid{
    background-color:blanchedalmond;
  }
  footer{
    text-decoration-color: white;
    background-color: rgb(240, 196, 155);
  }
  #contact{
    background-color: blanchedalmond;
    margin-top: -8px;
    margin-bottom: -16px;
  }
  .img-fluid{
    background-color: rgb(247, 161, 2);
    padding: 2%;
  }
  p,h5{
    font-size:20px;
    font-family: 'Lobster', cursive;
  }
  